* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 50%;
}

li,
a {
    text-decoration: dotted;
    list-style: none;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

.headerButton {
    background-color: blue;
    padding: 20px;
    border-radius: 40px;
    color: antiquewhite;
}