.table1 {
    border-spacing: 0 2px;
}

.table1 th {
    padding: 20px;
}

.table1 tr:nth-child(odd) {
    background-color: rgb(0, 83, 0);
}

.table1 tr:nth-child(even) {
    background-color: rgb(4, 178, 4);
}

.table1 {
    color: white;
}

.table1 tr:first-child {
    color: black;
}